<!DOCTYPE html>
<html>
  <head>
    <title>Form Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <style>
    div.table {
      display: table;
    }
    form.tr,
    div.tr {
      display: table-row;
    }
    span.td,
    span.th {
      display: table-cell;
      border: 1px solid black;
    }
    span.th {
      font-weight: bold;
    }
    input {
      width: 100px;
    }
  </style>

  <body>
    <div class="container">
      <h3>Form Table</h3>
      <a href="/userform">Fill again</a><br /><br />
      <div class="table" id="formtable"></div>
      <br /><br />
      <h3>Report</h3>
      <div id="report"></div>
      <br /><br />
      <a href="/logout">Logout</a>
    </div>
  </body>
  <script>
    $(document).ready(() => {
      var token = "";
      axios
        .get("http://localhost:3000/gettoken")
        .then(function(response) {
          token = response.data.token;

          axios
            .get("http://localhost:3000/formfield", {
              headers: { Authorization: "Bearer " + token }
            })
            .then(function(response) {
              console.log(response);
              var result = response.data;
              var inputHtml = "";
              var arr = [];
              for (var i = 0; i < result.length; i++) {
                for (var j in result[i]) {
                  arr.push(j);
                }
              }
              var uniqueNames = [];
              $.each(arr, function(i, el) {
                if ($.inArray(el, uniqueNames) === -1) uniqueNames.push(el);
              });
              console.log(arr);
              console.log(uniqueNames);
              inputHtml += '<div class="tr">';
              uniqueNames.forEach(i => {
                if (i !== "_id" && i !== "__v") {
                  inputHtml += '<span class="th">' + i + "</span>";
                }
              });
              inputHtml +=
                '<span class="th">Update</span><span class="th">Close</span></div>';
              for (var i = 0; i < result.length; i++) {
                inputHtml +=
                  '<form class="tr" method="post" action="updaterow/' +
                  result[i]._id +
                  '">';
                console.log(result[i]);

                uniqueNames.forEach(key => {
                  var a = 1;
                  for (var j in result[i]) {
                    if (key == "_id" || key == "__v") {
                      a = 0;
                    } else if (j == key) {
                      inputHtml +=
                        '<span class="td"><input type="text" name="' +
                        key +
                        '" value= "' +
                        result[i][j] +
                        '"/></span>';
                      // inputHtml +=
                      //   "<td><input type='text' name= '" +
                      //   key +
                      //   "' value= '" +
                      //   result[i][j] +
                      //   "' ></td>";
                      a = 0;
                    }
                  }
                  if (a == 1) {
                    inputHtml +=
                      '<span class="td"><input type="text"/ name="' +
                      key +
                      '" value =""></span>';
                    // inputHtml +=
                    //   "<td><input type='text' name= '" +
                    //   key +
                    //   "' value= ''></td>";
                  }
                });
                console.log(result[i]._id);
                inputHtml +=
                  '<span class="td"><input type="submit" value="Update" /></span>' +
                  '<span class="td"><a href="/deleterow/' +
                  result[i]._id +
                  '" >Delete</a></span></form>';

                // inputHtml +=
                //   "<td><a href='/updaterow/" +
                //   result[i]._id +
                //   "' class='update'>Update</a></td>" +
                //   "<td></td></form>";

                //inputHtml += "</form>";
              }
              // inputHtml +=
              //   '<button class="add"><a href="/addfieldpage">Add Field</a></button>';
              //console.log(inputHtml);
              $("#formtable").html(inputHtml);
            })
            .catch(function(error) {
              console.log(error);
            });
        })
        .catch(function(error) {
          console.log(error);
        });

      axios
        .get("http://localhost:3000/gettoken")
        .then(function(response) {
          token = response.data.token;

          axios
            .get("http://localhost:3000/report", {
              headers: { Authorization: "Bearer " + token }
            })
            .then(function(response) {
              console.log(response);
              var result = response.data;
              var inputHtml = "";
              for (var i = 0; i < result.length; i++) {
                inputHtml += result[i]._id + " : " + result[i].count + "<br>";
                result[i].people.forEach(value => {
                  inputHtml += "<span>" + value + "</span>&nbsp";
                });
                inputHtml += "<br><br>";
              }

              $("#report").html(inputHtml);
            })
            .catch(function(error) {
              console.log(error);
            });
        })
        .catch(function(error) {
          console.log(error);
        });
    });
  </script>
</html>
